.main-div {
    background-color: #ffffff;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.header-row {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.btn-style {
    background-color: #335c9a;
    float: right;
    border-radius: 0;
    color: #ffffff;
}

.upload-row {
    height: 200px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.col-style {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-margin {
    margin-bottom: 38px;
}

.row-border {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.last-row-border {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 38px;
}

.header-span {
    color: #555;
    font-weight: 400;
}

/*span{*/
/*    color: #65676b;*/
/*}*/