.steps-content{
    min-height: 200px;
    align-items: center;
    margin: 20px 0;

}

.steps-action{
    padding:  10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}